
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&display=swap');


body {
 background-image: url('./images/Money-Benjamin-unsplash.jpg');
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 font-family: "Besley", serif;
}


.table :not(caption) > * > * {
  background-color: #dee5dade;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

td{
  font-size: large;
}

.tableHeadFoot {
  font-weight: 800;
  color: #f4f6f2 !important;
  background-color: #030403 !important;
}

h1.text-center {
color: #f4f6f2;
text-shadow: #0b0e0a;
font-weight: 700;
}

